/*  CSS Document  */

/* First Page */

body  {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.Opening_Video_1 video  {
  position: absolute;
  right: 0;
  max-width: 50%;
  bottom: 270px;
  z-index: -10;
}

.Opening_Video_1 img {
  width: 500px;
  position: absolute;
  top: 30px;
  left: 80px;
}

.Opening_Video_2 .caption {
  position: absolute;
  color: orange;
  bottom: 40%;
  left: 60%;
}

.Opening_Video_2 video  {
  position: absolute;
  left: 0;
  max-width: 50%;
  top: 260px;
  z-index: -10
}

#nav  {
  position: absolute;
  left: 55%;
  top: 58%;
  color: #85a63e;
}

#nav ul li {
  padding: 10px;
}

#nav ul li a {
  font-size: 1.1em;
  color: #85a63e;
  padding: 10px;
}

.Opening_Video_2 .caption h1  {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
}

footer {
  float: right;
  padding-right: 30px;
  color: #85a63e;
  padding-top: 560px;
}
